@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  background-color: rgb(253, 251, 251);
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0px;
  border: none;

}

header {
  position: fixed;
  top: 0;
  background-color: green;
  width: 100%;
  height: 100px;
}

h1 {
  background-color: green;
  text-align: center;
  color: white;
  font-family: 'Roboto',  sans-serif;
}

nav {
  background-color: green;
}

.nav-button {
  text-decoration: none;
  background-color: green;
}

img {
  margin-top: 140px;
  margin-left: 40px;
}

article {
  max-width: 40%;
  display: block;
}

aside {
  max-width: 40%;
  display: block;
}
