* {
    background-color: rgb(253, 251, 251);
    border: none:
}

body {
    padding: 0px;
    border: none;

}

header {
    position: fixed;
    top: 0;
    background-color: green;
    margin: 0px;
}

h1 {

}