@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  background-color: rgb(253, 251, 251);
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0px;
  border: none;

}

header {
  position: fixed;
  top: 0px;
  background-color: green;
  width: 100%;
  height: 100px;
}

h1 {
  background-color: green;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: green;
}

.nav-button {
  text-decoration: none;
  background-color: green;
}

img {
  margin-top: 140px;
  margin-left: 40px;
}

.my-name {
  margin-top: 10px;
  margin-left: 40px
}

#list-box {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
}

.lists-block {
  display: block;
}

ol {
  margin-left: 50px;
}

ul {
  margin-left: 250px;
}

article,
aside {
  max-width: 40%;
  display: block;
}

.paragraph-box {
  margin: 30px;
  padding: 30px;
}

#paragraphs-flex-box {
  display: flex;
}

#rodape {
  text-align: center;
  color: white;
  background-color: green;
  height: 60px;
  vertical-align: middle;
}
